<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NBA Spread Bet Preditor</title>
  <meta name="description" content="NBA Spread Bet Preditor">
  <meta name="author" content="Jonathan Lin">

</head>

<body>

    <h1>Which team should I bet on??</h1>
    <p>This app will give you the odds for each team with respect to the spread!</p>
    <p>Please select teams from the dropdown!</p>

    <select>
      <option value="ATL">Atlanta Hawks</option>
      <option value="BOS">Boston Celtics</option>
      <option value="BRK">Brooklyn Nets</option>
      <option value="CHI">Chicago Bulls</option>
      <option value="CHO">Charlotte Hornets</option>
      <option value="CLE">Cleveland Cavaliers</option>
      <option value="DAL">Dallas Mavericks</option>
      <option value="DEN">Denver Nuggets</option>
      <option value="DET">Detroit Pistons</option>
      <option value="GSW">Golden State Warriors</option>
      <option value="HOU">Houston Rockets</option>
      <option value="IND">Indiana Pacers</option>
      <option value="LAC">Los Angeles Clippers</option>
      <option value="LAL">Los Angeles Lakers</option>
      <option value="MEM">Memphis Grizzlies</option>
      <option value="MIA">Miami Heat</option>
      <option value="MIL">Atlanta Hawks</option>
      <option value="NOP">Boston Celtics</option>
      <option value="NYK">Brooklyn Nets</option>
      <option value="OKC">Chicago Bulls</option>
      <option value="ORL">Boston Celtics</option>
      <option value="PHI">Philadelphia 76ers</option>
      <option value="PHO">Phoenix Suns</option>
      <option value="POR">Portland Trailblazers</option>
      <option value="SAC">Sacramento Kings</option>
      <option value="SAS">San Antonio Spurs</option>
      <option value="TOR">Toronto Raptors</option>
      <option value="UTA">Utah Jazz</option>
      <option value="WAS">Washington Wizards</option>
    </select>
</body>
</html>